{% extends 'base.html' %}
{% load static %}
{% block main %}
    <header class="masthead" style="background-image:url('{% static 'assets/img/about-bg.jpg' %}');">
        <div class="overlay" style="height: 400px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading" style="height: 80.4px;">
                        <h1 style="font-size: 77px;">Weekly Report</h1><span class="subheading">Summaries what you have done this week.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="contact-clean">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" type="text"  name="heading" placeholder="Heading">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" data-bss-hover-animate="bounce" name="text" placeholder="Weekly Report" rows="16"></textarea>
                </div>
                {% comment %} <div class="mb-3">
                <input class="placeholder form-control" type="file" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" name="image" accept="image/*" title="Upload an image">
                </div> {% endcomment %}
                <div class="text-center mb-3">
                    <button class="btn btn-primary" data-bss-hover-animate="pulse" type="submit"  style="border-radius: 51px;margin-top: 24px;">submit</button>
                </div>
            </form>
        </section>
    </div>
 {% endblock main %}